.laurels {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin: 0 6rem;
}
.laurels img {
    width: 600px;
}
.laurels li {
    list-style: none;
}
.award-title {
    color: goldenrod;
}
.laurels-left h1 {
    margin-bottom: 4rem;
}