.gallery {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    margin: 0 6rem;
}
.gallery img {
    width: 600px;
}
.gallery-left h1 {
    margin-bottom: 4rem;
}
.gallery-left {
    width: 50%;
}
.gallery-right {
    width: 50%;
}