.navbar {
    width: 100%;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
}
.nav-middle ul {
    display: flex;
    gap: 2rem;
}
.nav-middle li {
    text-decoration: none;
    list-style: none;
}
.nav-right {
    display: flex;
    gap: 1rem;
}